
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(16, 20, 24)
  /* background: rgb(44,44,62); */
  /* background: linear-gradient(90deg, rgba(44,44,62,1) 0%, rgba(43,43,57,1) 50%, rgba(0,0,0,1) 100%); */
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
